body {
  margin: 5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fotoDiv {
  display: flex;
  justify-content: center;
}

.foto {
  width: 550px;
  margin-bottom: 20px;
}

.textStyle {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.buttonStyle {
  margin-top: 16px;
  margin-bottom: 30px;
}

.border {
  border: 4px blue solid;
  width: 95vh; /* Максимальная ширина 80% от высоты экрана */
  margin: 0 auto; /* Автоматический отступ слева и справа делает блок по центру */
  padding: 10px;
}